<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7b072561-d3d7-4a76-b1de-7b35e0ce2d01/resourcegroups/BD_Int_plataformas/providers/Microsoft.Web/sites/ApiLogistica1</ResourceId>
    <ResourceGroup>BD_Int_plataformas</ResourceGroup>
    <ApiResourceId>/subscriptions/7b072561-d3d7-4a76-b1de-7b35e0ce2d01/resourceGroups/BD_Int_plataformas/providers/Microsoft.ApiManagement/service/ApiLogisticaapi/apis/ApiLogistica</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apilogistica1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e8b8a2dd-d5bf-42c5-bc5d-9abde5f3ef17</ProjectGuid>
    <MSDeployServiceURL>apilogistica1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiLogistica1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ApiLogistica1</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>